{{ if .Params.disable_profile | and .Params.disable_widgets }}
<section id="main" class="full-width">
{{ else }}
<section id="main">
{{ end }}
    <article id="page-undefined" class="article article-type-page" itemscope="" itemprop="blogPost">
        <div class="article-inner">
            {{ if and (isset .Params "banner") (not (eq .Params.banner "")) }}
                <img src="{{ .Params.banner | absURL }}" class="article-banner">
            {{ end }}

            {{ partial "article_header" . }}
            <div class="article-entry" itemprop="articleBody">
                {{ .Content }}
            </div>
            {{ partial "article_footer" . }}
        </div>

        {{ partial "prev_next_post" . }}
    </article>

    {{ if not .Params.disable_comments }}
    <section id="comments">
        {{ partial "discourse.html" . }}
    </section>
    {{ end }}
</section>
